.container {
    display : flex;
    justify-content: space-around;
    align-items : center;
    border-bottom : 1px solid rgb(0 0 0 / 0.2);
}

.icon {
    margin-right : 30px;
}

.search-bar {
    width : 300;
}

.flex-container {
    display : flex;
    justify-content: space-around;
    align-items : center;
}


.search-bar {

    border-radius: 30px;
    padding : 15px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
}

body {
    font-weight : 600;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #222;
    background-color: #fff;
    margin : 0;
}